{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <div class="jumbo">

    <h2>Accounts<h2>

  </div>
  <table class="table">
  <thead>
          <tr>
            <th>accountid</th>
      </tr>
    </thead>
    <tbody>
                                {% for i in data['bullshits'] %}
                                <tr>
                                  <td>{{ i['message'] }}</td>
                                </tr>
                                {% endfor %}
    </tbody> 
   </table>   
{% endblock %}


